@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(#111111, #161616);
}